[Unit]
Description=HW07 Database Practice

[Service]
Type=simple
User=hw07
Group=hw07
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4792
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw07/event_app
ExecStart=/bin/bash /home/hw07/event_app/start.sh

[Install]
WantedBy=multi-user.target
