<p>
  <span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
  <span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
</p>

<h1>Showing <%= @event.name %></h1>

<div>
  <p>Event Name: <%= @event.name %></p>
</div>

<div>
  <p>Event Date: <%= @event.date %></p>
</div>

<div>
  <p>Event Description: <%= @event.description %></p>
</div>
