<p><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
<h1>Show User</h1>



<div>
  <p>Name: <%= @user.name %></p>
</div>

<div>
  <p>Email: <%= @user.email %></p>
</div>

<div>
  <img src="<%= Routes.user_path(@conn, :photo, @user) %>" alt="">
</div>





<p>
  <span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
</p>
